<html>
<head>
  <title>Hello</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link href="css/styles.css" rel="stylesheet" />
</head>

<body>

  <div class="content">
    <img id="temperature-icon" src="/img/temperature-icon.png">
    <p>Temperature: 23 °C</p>
    <p>Humidity: 34 %</p>
  </div>

</body>
</html>