<html>
<head>
  <title>Hello</title>

  <link href="css/styles.css" rel="stylesheet" />
</head>

<body>

  <div class="content">
    <img id="temperature-icon" src="/img/temperature-icon.png">
  </div>

</body>
</html>